POSTGRES_PASSWORD=replace_with_existing_venda_db_password
JWT_SECRET=replace_with_a_long_random_secret
JWT_SECRET_PREVIOUS=
CLOUDFLARE_TUNNEL_TOKEN=replace_with_cloudflare_remote_tunnel_token
CORS_ALLOWED_ORIGINS=https://venda.kynto.me
VENDA_WEB_PORT=3080
